/* Global classes */
html{ font-size:16px;}
body{
	font-size: 62.5%;
	font-family:"Trebuchet MS",Helvetica,sans-serif;
	background: #DFD9CC;
	background:#005746;
	background:#E2DBCE;
	background:#EFECCA;
	background:#FAFFEF;
	background:none;
}
a{
	color:#25FF52;
	color:#EFECCA;
	color:#FFFFFF;
	color:#DFDFDF;
	font-size:1.2em;
}
p{
	font-size:1.2em;
	line-height:1.5em;
}
h1{
	color:#FFFFFF;
	color:#EFECCA;
	font-size:3em;
}
h2{
	color:#FFFFFF;
	color:#EFECCA;
	font-size:2.5em;
}
/* Network Nav */
#network-nav{
	background: #3F7A3A;
	height:25px;
 	border-bottom: solid #FFFFFF;
	background:#151515;
	background:#A7A37E;
	background:#EFECCA;
	background:#000000;
	background:#002F2F;
	border-bottom: solid #FF6A4D;
	border-bottom:none;
	border-bottom:solid #EFECCA;
}
#network-nav h1, #network-nav ul li, #network-nav ul a{
	float:left;
}
#network-nav h1{
	color:#FFFFFF;
 	font-size:1.5em;
	margin: 0.2em 0 0.1em 0.5em;
	color:#FF6A4D;
	color:#002F2F;
	color:#EFECCA;
}
#network-nav ul li{
	margin: 0.5em 0 0.3em 3em;
	padding: 0 5px 0 5px;
}
#network-nav ul li a{
	font-size: 1.25em;
	text-decoration:none;
	letter-spacing:1px;
	color:#002F2F;
	color:#EFECCA;
}
#network-nav ul li a:hover,#network-nav ul li.current a {
	color:#FF6A4D;
	color:#FFFFFF;
}
/* Wrapper */
.wrap{
	margin: 0 auto;
/*	background:#FFFFFF; */
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	*/
	height:100%;
	
}
/* Header */
#header{
	background: #005746; 
	background:#252525;
	background:#046380;
	height:110px;
}
#header h1{
	float:left;
	padding-top:1em;
}
#header h1 a{
	color:#EFECCA;	
	color:#DFDFDF;
	color:#FFFFFF;
	text-decoration:none;
}
ul#main-menu{
	float:right;
	display:inline;
	margin:5em 0 1em 0;
}
ul#main-menu li{
	display:inline;
}
ul#main-menu li a{
	color:#D0D2D7;
	color:#EFECCA;
	color:#FFFFFF;
	color:#DFDFDF;
	text-decoration:none;
	font-size: 1.9em;
	padding: 0.2em 0.5em;
}
ul#main-menu li a:hover{
	color:#FFFFFF;
/*	color:#DC3926; */
/*	background:#97BA43;
*/
	background:#DC3926;
	background:#0DB2DF;
	background:#0A8CAF;
}
ul#main-menu li a.current{
	background:#0A8CAF;
	color:#FFFFFF;
}
ul#main-menu li a.first{
	border-left:none;
}
#sub-header{
	background:#DC3926;
	background:#002F2F;
	background:#EFECCA;
	border-bottom:none;
}
#sub-header h1{
	color:#046380;
	color:#07596F;
	font-size:3.4em;
	padding-top:0.3em;
	text-align:center;
}
#sub-header h1 a{
	color:#046380;
	background:#FFFFD9;
	background:#FAFFEF;
	text-decoration:none;
	padding: 0 5px 0 5px;
}
#sub-header h1 a:hover, #sub-header h2 a:hover{
	text-decoration:underline;
}
#sub-header h2{
	font-size:2em;
	padding:1em;
	text-align:center;
	color:#046380;
	color:#000000;
	line-height:2em;
}
#sub-header h2 a{
	color:#046380;
	padding:2px 5px;
	background:#FAFFEF;
	text-decoration:none;
}
/* Content */
#content{
	background:#F3FFCF url(/img/grad.png) repeat-x;
	
}
#services{
	padding:1em;
	overflow:hidden;
}
#news{
/*	background:#A7A37E;
	background:#FFFFEF;
	*/
	padding:1em;
	overflow:hidden;
}
#services ul li{
	background:#FFFFFF;
	margin:5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #A7A37E;
	padding:8px;
	height:275px;
}
#services ul li h1, #news ul li h1{
	font-size:2.2em;
	color:#002F2F;
	margin-bottom:0.2em;
	text-align:center;
}
#services ul li h2, #news ul li h2{
	font-size:1.5em;
	color:#9F9F9F;
	padding:0;
	text-align:center;
}
#services ul li a, #news ul li a{
	font-size:1.2em;
	color:#002F2F;
	text-decoration:none;
}
#services ul li a:hover, #news ul li a:hover{
	text-decoration:underline;
}
#services ul li p, #news ul li p{
	text-align:left;
	font-size:1.6em;
	margin-top:1em;
}
#services ul li .more-info{
	top:270px;
	position:absolute;
	width:255px;
	padding:0 10px;
}
#services ul li .more-info a{
	font-size:1.45em;
}
 
#news li{
	background:transparent url(/img/postit.png) no-repeat scroll left top;
	width:30%;	
	float:left;
	display:inline;
	height:275px;
	margin:0 1.5em;
}
#news h1.blog{
	color:#000000;
	text-align:center;
	padding:1em;
	color:#002F2F;
}
#news h3.post-title{
	margin-top:1em;
}
#news h3.post-title a{
	font-size:1.4em;
	margin:1em 0 1em 1em;
}
#news h3.post-title a:hover{
	text-decoration:none;
	color:#000000;
}
#news h3.post-title a strong{
	color:#BBB2A6;
	font-size:0.9em;
	margin-right:5px;
}
#news p.post-outline{
	font-size:1.4em;
	margin:1em 0 1em 1em;
}
/* Footer */
#footer{
	background:#252525;
	background:#046380 none repeat scroll 0 0;
	padding:2em;
	text-align:center;
	border-top:0.5em solid #E2DBCE;
	border-top:none;
	height:120px;
}
#footer ul#footer-menu li{
	display:inline;
	margin-left:2em;
}
#footer ul#footer-menu li a{
	font-size:1.3em;
}
#footer a:hover{
	color:#FFFFFF;
}
#footer p{
	color:#FFFFFF;
	font-size:1.2em;
	margin-top:2em;
}
#footer #copyright{
	text-decoration:none;
}