/* CSS rules by Filipe A Moreira filipe@coderelax.com*/
/*  Yahoo Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

/* Generic classes */

.clear	{clear:both;}
.left	{float:left;}
.right	{float:right;}

/* Global classes */
html{ font-size:16px;}
body{
	font-size: 62.5%;
	font-family:"Trebuchet MS",Arial,sans-serif;
}
a{
	font-size:1.2em;
}
p{
	font-size:1.2em;
	line-height:1.5em;
}
h1{
	font-size:3em;
}
h2{
	font-size:2.5em;
}

/* Network Nav */

#network-nav{
	height:30px;
}
#network-nav h1, #network-nav ul li, #network-nav ul a{
	float:left;
}
#network-nav h1{
	font-size:1.6em;
	margin: 0.2em 0 0.1em 0.5em;
}
#network-nav ul li{
	margin: 0.5em 0 0.3em 3em;
	padding: 0 5px 0 5px;
}
#network-nav ul li a{
	font-size: 1.25em;
	text-decoration:none;
	letter-spacing:1px;
}
/* Wrapper */
.wrap{
	width:925px;
	margin: 0 auto;
	position:relative;
}
/* Header */
#header{
	height:87px;
}
#header h1{
	float:left;
	padding-top:1em;
}
#header h1 a{
	text-decoration:none;
}
ul#main-menu{
	float:right;
	display:inline;
	margin:5em 0 1em 0;
}
ul#main-menu li{
	display:inline;
}
ul#main-menu li a{
	text-decoration:none;
	font-size: 1.8em;
	padding:0.4em;
}
ul#main-menu li a:hover{
}
ul#main-menu li a.current{
}
#sub-header{
	border-bottom:none;
	overflow:hidden;
}
#sub-header h2{
	font-size:3em;
	padding:1em;
	text-align:center;
}
#services ul, #news ul{
	width:100%;
}
#services ul li, #news ul li{
	width:30%;	
	float:left;
	display:inline;
	padding:8px;
}
#content .last{
	float:right;
}
#content .middle{
	margin-left:2em;
}
#content ul li h1, #news ul li h1{
	font-size:2em;
}
#content ul li a, #news ul li a{
	font-size:1.2em;
	text-decoration:none;
}
#content ul li a:hover, #news ul li a:hover{
	text-decoration:underline;
}
#news ul li p{
	text-align:left;
	font-size:1.6em;
	margin-top:1em;
}
a.button{
	width: 15em;
	padding: .25em;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000;
	border: solid 1px #9CAF41;
	-webkit-border-radius: .7em;
	-moz-border-radius: .7em;
	border-radius: .7em;
	-webkit-box-shadow: 2px 2px 3px #999;
	box-shadow: 2px 2px 2px #bbb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));
	text-decoration:none;
}
a.button:hover{
	text-decoration:none;
}

/* Social media and contact */
#social{
	padding:2em;
	text-align:center;
}
/* Footer */
#footer{
	padding:2em;
	text-align:center;
}
#footer ul#menu li{
	display:inline;
	margin-left:2em;
}
#footer ul#menu li a{
	font-size:1.3em;
}
#footer a{
}
#footer a:hover{

}
#footer p{
	font-size:1.2em;
	margin-top:2em;
}
#footer #copyright{
	text-decoration:none;
}